# **Basic python**

In [ ]:
s = "Hi i am world!"

# **1. Split this string**

In [ ]:
s.split()

['Hi', 'there', 'Sam!']

# **2.Output should be: The diameter of Earth is 12742 kilometers.**

In [ ]:
planet = "Earth"
diameter = 12742

In [ ]:
print('The diameter of {} is {} kilometers.' . format(planet,diameter));

The diameter of Earth is 12742 kilometers.

# **3. In this nest dictionary grab the word "hello"**

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

In [ ]:
import numpy as np

# **4.1 Create an array of 10 zeros?**

# **4.2 Create an array of 10 fives?**

In [ ]:
a = np.zeros(10)

In [ ]:
a

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

# **5. Create an array of all the even integers from 20 to 35**

In [ ]:
b = np.ones(10)*5
b

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

# **6. Create a 3x3 matrix with values ranging from 0 to 8**

In [ ]:
c = np.arange(0,16).reshape(4,4)
c

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

# **7. Concatinate a and b**

# **a = np.array([1, 2, 3]), b = np.array([4, 5, 6])**

In [ ]:
a = np.array([1,2,3])
b = np.array([4,5,6])
np.concatenate((a,b),axis=0)

array([1, 2, 3, 4, 5, 6])

# **pandas**

# **8. Create a dataframe with 3 rows and 2 columns**

In [ ]:
import pandas as pd

In [ ]:
d = {"fruits":["mango","orange","apple"],"color":["yellow","orange","red"]}
df = pd.DataFrame(d)
df

   fruits   color
0   mango  yellow
1  orange  orange
2   apple     red

# **9. Generate the series of dates from 1st Jan, 2024 to 10th Feb, 2024**

In [ ]:
P = pd.date_range(start='1-1-2024',end='10-2-2024')
for val in P:
  print(val);

2024-01-01 00:00:00
2024-01-02 00:00:00
2024-01-03 00:00:00
2024-01-04 00:00:00
2024-01-05 00:00:00
2024-01-06 00:00:00
2024-01-07 00:00:00
2024-01-08 00:00:00
2024-01-09 00:00:00
2024-01-10 00:00:00
2024-01-11 00:00:00
2024-01-12 00:00:00
2024-01-13 00:00:00
2024-01-14 00:00:00
2024-01-15 00:00:00
2024-01-16 00:00:00
2024-01-17 00:00:00
2024-01-18 00:00:00
2024-01-19 00:00:00
2024-01-20 00:00:00
2024-01-21 00:00:00
2024-01-22 00:00:00
2024-01-23 00:00:00
2024-01-24 00:00:00
2024-01-25 00:00:00
2024-01-26 00:00:00
2024-01-27 00:00:00
2024-01-28 00:00:00
2024-01-29 00:00:00
2024-01-30 00:00:00
2024-01-31 00:00:00
2024-02-01 00:00:00
2024-02-02 00:00:00
2024-02-03 00:00:00
2024-02-04 00:00:00
2024-02-05 00:00:00
2024-02-06 00:00:00
2024-02-07 00:00:00
2024-02-08 00:00:00
2024-02-09 00:00:00
2024-02-10 00:00:00
2024-02-11 00:00:00
2024-02-12 00:00:00
2024-02-13 00:00:00
2024-02-14 00:00:00
2024-02-15 00:00:00
2024-02-16 00:00:00
2024-02-17 00:00:00
2024-02-18 00:00:00
2024-02-19 00:00:00
2024-02-20 00:00:00
2024-02-21 00:00:00
2024-02-22 00:00:00
2024-02-23 00:00:00
2024-02-24 00:00:00
2024-02-25 00:00:00
2024-02-26 00:00:00
2024-02-27 00:00:00
2024-02-28 00:00:00
2024-02-29 00:00:00
2024-03-01 00:00:00
2024-03-02 00:00:00
2024-03-03 00:00:00
2024-03-04 00:00:00
2024-03-05 00:00:00
2024-03-06 00:00:00
2024-03-07 00:00:00
2024-03-08 00:00:00
2024-03-09 00:00:00
2024-03-10 00:00:00
2024-03-11 00:00:00
2024-03-12 00:00:00
2024-03-13 00:00:00
2024-03-14 00:00:00
2024-03-15 00:00:00
2024-03-16 00:00:00
2024-03-17 00:00:00
2024-03-18 00:00:00
2024-03-19 00:00:00
2024-03-20 00:00:00
2024-03-21 00:00:00
2024-03-22 00:00:00
2024-03-23 00:00:00
2024-03-24 00:00:00
2024-03-25 00:00:00
2024-03-26 00:00:00
2024-03-27 00:00:00
2024-03-28 00:00:00
2024-03-29 00:00:00
2024-03-30 00:00:00
2024-03-31 00:00:00
2024-04-01 00:00:00
2024-04-02 00:00:00
2024-04-03 00:00:00
2024-04-04 00:00:00
2024-04-05 00:00:00
2024-04-06 00:00:00
2024-04-07 00:00:00
2024-04-08 00:00:00
2024-04-09 00:00:00
2024-04-10 00:00:00
2024-04-11 00:00:00
2024-04-12 00:00:00
2024-04-13 00:00:00
2024-04-14 00:00:00
2024-04-15 00:00:00
2024-04-16 00:00:00
2024-04-17 00:00:00
2024-04-18 00:00:00
2024-04-19 00:00:00
2024-04-20 00:00:00
2024-04-21 00:00:00
2024-04-22 00:00:00
2024-04-23 00:00:00
2024-04-24 00:00:00
2024-04-25 00:00:00
2024-04-26 00:00:00
2024-04-27 00:00:00
2024-04-28 00:00:00
2024-04-29 00:00:00
2024-04-30 00:00:00
2024-05-01 00:00:00
2024-05-02 00:00:00
2024-05-03 00:00:00
2024-05-04 00:00:00
2024-05-05 00:00:00
2024-05-06 00:00:00
2024-05-07 00:00:00
2024-05-08 00:00:00
2024-05-09 00:00:00
2024-05-10 00:00:00
2024-05-11 00:00:00
2024-05-12 00:00:00
2024-05-13 00:00:00
2024-05-14 00:00:00
2024-05-15 00:00:00
2024-05-16 00:00:00
2024-05-17 00:00:00
2024-05-18 00:00:00
2024-05-19 00:00:00
2024-05-20 00:00:00
2024-05-21 00:00:00
2024-05-22 00:00:00
2024-05-23 00:00:00
2024-05-24 00:00:00
2024-05-25 00:00:00
2024-05-26 00:00:00
2024-05-27 00:00:00
2024-05-28 00:00:00
2024-05-29 00:00:00
2024-05-30 00:00:00
2024-05-31 00:00:00
2024-06-01 00:00:00
2024-06-02 00:00:00
2024-06-03 00:00:00
2024-06-04 00:00:00
2024-06-05 00:00:00
2024-06-06 00:00:00
2024-06-07 00:00:00
2024-06-08 00:00:00
2024-06-09 00:00:00
2024-06-10 00:00:00
2024-06-11 00:00:00
2024-06-12 00:00:00
2024-06-13 00:00:00
2024-06-14 00:00:00
2024-06-15 00:00:00
2024-06-16 00:00:00
2024-06-17 00:00:00
2024-06-18 00:00:00
2024-06-19 00:00:00
2024-06-20 00:00:00
2024-06-21 00:00:00
2024-06-22 00:00:00
2024-06-23 00:00:00
2024-06-24 00:00:00
2024-06-25 00:00:00
2024-06-26 00:00:00
2024-06-27 00:00:00
2024-06-28 00:00:00
2024-06-29 00:00:00
2024-06-30 00:00:00
2024-07-01 00:00:00
2024-07-02 00:00:00
2024-07-03 00:00:00
2024-07-04 00:00:00
2024-07-05 00:00:00
2024-07-06 00:00:00
2024-07-07 00:00:00
2024-07-08 00:00:00
2024-07-09 00:00:00
2024-07-10 00:00:00
2024-07-11 00:00:00
2024-07-12 00:00:00
2024-07-13 00:00:00
2024-07-14 00:00:00
2024-07-15 00:00:00
2024-07-16 00:00:00
2024-07-17 00:00:00
2024-07-18 00:00:00
2024-07-19 00:00:00
2024-07-20 00:00:00
2024-07-21 00:00:00
2024-07-22 00:00:00
2024-07-23 00:00:00
2024-07-24 00:00:00
2024-07-25 00:00:00
2024-07-26 00:00:00
2024-07-27 00:00:00
2024-07-28 00:00:00
2024-07-29 00:00:00
2024-07-30 00:00:00
2024-07-31 00:00:00
2024-08-01 00:00:00
2024-08-02 00:00:00
2024-08-03 00:00:00
2024-08-04 00:00:00
2024-08-05 00:00:00
2024-08-06 00:00:00
2024-08-07 00:00:00
2024-08-08 00:00:00
2024-08-09 00:00:00
2024-08-10 00:00:00
2024-08-11 00:00:00
2024-08-12 00:00:00
2024-08-13 00:00:00
2024-08-14 00:00:00
2024-08-15 00:00:00
2024-08-16 00:00:00
2024-08-17 00:00:00
2024-08-18 00:00:00
2024-08-19 00:00:00
2024-08-20 00:00:00
2024-08-21 00:00:00
2024-08-22 00:00:00
2024-08-23 00:00:00
2024-08-24 00:00:00
2024-08-25 00:00:00
2024-08-26 00:00:00
2024-08-27 00:00:00
2024-08-28 00:00:00
2024-08-29 00:00:00
2024-08-30 00:00:00
2024-08-31 00:00:00
2024-09-01 00:00:00
2024-09-02 00:00:00
2024-09-03 00:00:00
2024-09-04 00:00:00
2024-09-05 00:00:00
2024-09-06 00:00:00
2024-09-07 00:00:00
2024-09-08 00:00:00
2024-09-09 00:00:00
2024-09-10 00:00:00
2024-09-11 00:00:00
2024-09-12 00:00:00
2024-09-13 00:00:00
2024-09-14 00:00:00
2024-09-15 00:00:00
2024-09-16 00:00:00
2024-09-17 00:00:00
2024-09-18 00:00:00
2024-09-19 00:00:00
2024-09-20 00:00:00
2024-09-21 00:00:00
2024-09-22 00:00:00
2024-09-23 00:00:00
2024-09-24 00:00:00
2024-09-25 00:00:00
2024-09-26 00:00:00
2024-09-27 00:00:00
2024-09-28 00:00:00
2024-09-29 00:00:00
2024-09-30 00:00:00
2024-10-01 00:00:00
2024-10-02 00:00:00

# **10. Create 2D list to DataFrame**

In [ ]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [ ]:
df = pd.DataFrame(lists)
df

   0    1   2
0  1  aaa  22
1  2  bbb  25
2  3  ccc  24